.confirm_nav {
  &__reject_all {
    background-color: var(--color-error-muted);
    color: #d73847;
    font-size: 12px;
    height: 20px;

    &:hover {
      background-color: var(--color-error-muted) !important;
      box-shadow: none !important;
      color: #d73847 !important;
    }

    > span {
      font-size: 10px;
    }
  }
}
